{{ modal }}
<div class="bento">
	<section class="animated-card card item-bento text-bento education">
		<img src="/images/study.webp" alt="Imagen educación" />
		<div class="text-container">
			<header>
				<h3>Educación</h3>
			</header>
			<ul>
				<li>Full Stack Development - DevCamp by Bottega University - 2023</li>
				<li>Coding Foundations - DevCamp by Bottega University - 2022</li>
				<li>Bachillerato - IES Jorge Juan - 2006</li>
			</ul>
		</div>
	</section>
	<section class="animated-card card item-bento text-bento certifications">
		<img src="/images/certification.jpg" alt="Imagen certificado" />
		<div class="text-container">
			<header>
				<h3>Certificaciones</h3>
			</header>
			<ul>
				<li>Figma: Creación de interfaces - Domestika - 2025</li>
				<li>Curso Agile: SCRUM - Udemy - 2024</li>
				<li>GitHub Foundations - GitHub - 2024</li>
				<li>MongoDB Associate Developer - MongoDB - 2024</li>
				<li>English B1 - Hegala/Lanbide - 2022</li>
			</ul>
		</div>
	</section>
	<div class="animated-card card item-bento photo-bento">
		<div class="items-photo-me" style="--delay: 0s; --position: 58%">🖖​</div>
		<div class="items-photo-me" style="--delay: 0.5s; --position: 80%">
			{{ svgLogo }}
		</div>
		<div class="items-photo-me" style="--delay: 0.8s; --position: 25%">🖖​</div>
		<div class="items-photo-me" style="--delay: 1.4s; --position: 10%">
			{{ svgLogo }}
		</div>
		<img
			class="photo-me"
			src="images/photo_me.webp"
			alt="Gádor García Martínez"
		/>
	</div>
	<div class="card animated-card item-bento map">
		<img src="images/alicante_map.webp" alt="Mapa de Alicante" />
		{{ svgPin }}
		<p>Alicante (Alacant)</p>
	</div>
</div>
