{{ modal }}
<div class="bento">
	<section class="animated-card card item-bento text-bento education">
		<img src="/images/study.webp" alt="Imagen educación" />
		<div class="text-container">
			<header>
				<h2>Educación</h2>
			</header>
			<ul>
				<li><strong>Full Stack Development</strong> - DevCamp by Bottega University - 2023</li>
				<li><strong>Coding Foundations</strong> - DevCamp by Bottega University - 2022</li>
				<li><strong>Bachillerato</strong> - IES Jorge Juan - 2006</li>
			</ul>
		</div>
	</section>
	<section class="animated-card card item-bento text-bento certifications">
		<img src="/images/certification.webp" alt="Imagen certificado" />
		<div class="text-container">
			<header>
				<h2>Certificaciones</h2>
			</header>
			<ul>
				<li><strong>TypeScript: Tu completa guía y manual de mano</strong> - DevTalles - 2025</li>
				<li><strong>Figma: Creación de interfaces</strong> - Domestika - 2025</li>
				<li><strong>Curso Agile: SCRUM</strong> - Udemy - 2024</li>
				<li><strong>GitHub Foundations</strong> - GitHub - 2024</li>
				<li><strong>MongoDB Associate Developer</strong> - MongoDB - 2024</li>
				<li><strong>English B1</strong> - Hegala/Lanbide - 2022</li>
			</ul>
		</div>
	</section>
	<div class="animated-card item-bento photo-bento">
		<div class="items-photo-me" style="--delay: 0s; --position: 58%">🖖​</div>
		<div class="items-photo-me" style="--delay: 0.5s; --position: 80%">
			{{ svgLogo }}
		</div>
		<div class="items-photo-me" style="--delay: 0.8s; --position: 25%">🖖​</div>
		<div class="items-photo-me" style="--delay: 1.4s; --position: 10%">
			{{ svgLogo }}
		</div>
		<p>Pulsa para conocerme 👆</p>
		<img
			class="photo-me"
			src="images/photo_me.webp"
			alt="Gádor García Martínez"
		/>
	</div>
	<div class="card animated-card item-bento map">
		<img src="images/alicante_map.webp" alt="Mapa de Alicante" />
		{{ svgPin }}
		<p>Alicante (España)</p>
	</div>
</div>
