<dialog id="story-modal" class="card" closedby="any">
	<p>
		¡Hola! 🖖 Te doy la bienvenida a mi portfolio.<br />
		<br />
		Mi nombre es Gádor y soy una
		<b>apasionada de la tecnología</b> desde que tengo uso de razón. En un
		momento de búsqueda personal descubrí el desarrollo web y me enamoré.
		Siempre he estado en <b>contacto con el arte y la creatividad</b>, ya sea a
		través del diseño, el lettering, el dibujo o la música. Y siento que el
		desarrollo me permite combinarlo todo.<br />
		<br />
		A lo largo de mi trayectoria profesional
		<b
			>he trabajado en sectores como la logística, el transporte y la
			hostelería</b
		>, en este bagaje me encontré con diferentes situaciones que me hicieron
		<b>aprender y crecer</b>.<br />
		<br />
		Pero no todo es trabajo: en mi <b>tiempo libre</b> me encanta hacer
		<b
			>ejercicio, disfrutar de mi entorno, jugar a videojuegos y aprender cosas
			nuevas</b
		>. Se puede decir que soy una <b>persona activa y curiosa</b>.
		<br />
		<br />
		Estaría encantada de aportar mis conocimientos y experiencia a tu proyecto.
		<b
			>Si buscas a alguien tenaz, creativa y con atención al detalle, ¡no dudes
			en contactarme!</b
		>
	</p>
	<form method="dialog">
		<button class="button">Cerrar</button>
	</form>
</dialog>
