<dialog id="story-modal" class="card" closedby="any">
	<p>
		¡Hola! 🖖 Te doy la bienvenida a mi portfolio.<br />
		<br />
		Mi nombre es Gádor y soy una
		<strong>apasionada de la tecnología</strong> desde que tengo uso de razón.
		En un momento de búsqueda personal descubrí el desarrollo web y me enamoré.
		Siempre he estado en <strong>contacto con el arte y la creatividad</strong>,
		ya sea a través del diseño, el lettering, el dibujo o la música. Y siento
		que el desarrollo me permite combinarlo todo.<br />
		<br />
		A lo largo de mi <strong>trayectoria profesional</strong> he trabajado en
		sectores como la <strong>logística</strong>, el
		<strong>transporte</strong> y la <strong>hostelería</strong>, en este bagaje
		me encontré con diferentes situaciones que me hicieron
		<strong>aprender y crecer</strong>.<br />
		<br />
		Pero no todo es trabajo: en mi tiempo libre me encanta hacer
		<strong>ejercicio</strong>, disfrutar de mi entorno, jugar a
		<strong>videojuegos</strong> y <strong>aprender cosas nuevas</strong>. Se
		puede decir que soy una persona <strong>activa y curiosa</strong>.
		<br />
		<br />
		Estaría encantada de aportar mis conocimientos y experiencia a tu proyecto.
		Si buscas a alguien
		<strong>tenaz, creativa y con atención al detalle</strong>, ¡no dudes en
		contactarme!
	</p>
	<form method="dialog">
		<button class="button">Cerrar</button>
	</form>
</dialog>
