#projects {
	min-height: 100svh;
	padding: clamp(1rem, 8vw, 6rem);
	.project-list {
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(clamp(300px, 45vw, 420px), 1fr)
		);
		gap: clamp(1rem, 7vw, 6rem);
		.card {
			padding: clamp(1rem, 3svh, 2rem);
			height: auto;
			max-height: 90svh;
			display: flex;
			flex-direction: column;
			gap: clamp(0.5rem, 2svh, 3rem);
			justify-content: space-between;
			header h3 {
				text-indent: 10px;
			}
			.logo-container {
				display: flex;
				justify-content: center;
				gap: 3rem;
				svg {
					color: var(--background);
					width: clamp(25px, 1.5vw, 35px);
				}
			}
			.project-image {
				max-width: 90%;
				max-height: 100%;
				object-fit: fill;
				border-radius: 1rem;
				align-self: center;
				box-shadow: var(--text-shadow);
			}
			p {
				padding: 0 1rem;
				hyphens: auto;
			}
			.buttons-container {
				padding: 1rem 0;
				display: flex;
				justify-content: space-evenly;
				.button {
					justify-content: flex-start;
					gap: 0.5rem;
				}
			}
		}
	}
	@media (min-width: 900px) {
		margin-bottom: 20px;
	}

	@media (max-width: 480px) {
		margin-bottom: 0;
		padding: 1rem;
		.project-list {
			grid-template-columns: 100%;
			.card {
				.project-image {
					width: 100%;
				}
				p {
					font-size: 0.9rem;
				}
				.buttons-container {
					justify-content: center;
					gap: 1rem;
					.button span {
						display: none;
					}
				}
			}
		}
		.buttons-container .button span {
			display: none;
		}
	}
}
