#projects {
	min-height: 100vh;
	min-height: 100svh;
	padding: clamp(1rem, 8vw, 6rem);
	.project-list {
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(clamp(300px, 45vw, 420px), 1fr)
		);
		gap: clamp(1rem, 7vw, 6rem);
		.card {
			padding: clamp(1rem, 3vh, 2rem);
			padding: clamp(1rem, 3svh, 2rem);
			height: auto;
			max-height: calc(95vh - 90px);
			max-height: calc(95svh - 90px);
			display: flex;
			flex-direction: column;
			gap: clamp(0.5rem, 2vh, 3rem);
			gap: clamp(0.5rem, 2svh, 3rem);
			justify-content: space-between;
			header h2 {
				text-indent: 10px;
				font-size: clamp(1.4rem, 3vw, 1.8rem);
			}
			.logo-container {
				display: flex;
				justify-content: center;
				gap: 3rem;
				svg {
					color: var(--black-dark);
					width: clamp(20px, 1.5vw, 35px);
				}
			}
			.project-image {
				width: 90%;
				max-height: 50%;
				object-fit: cover;
				aspect-ratio: 16/9;
				border-radius: var(--border-radius-box);
				align-self: center;
				box-shadow: var(--shadow-text);
			}
			p {
				font-size: clamp(0.9rem, 1vw, 1.1rem);
				padding: 0 1rem;
				hyphens: auto;
			}
			.buttons-container {
				padding: 1rem 0;
				display: flex;
				justify-content: space-evenly;
				.button {
					justify-content: flex-start;
					gap: 0.5rem;
				}
			}
		}
	}
	@media (min-width: 1080px) {
		margin-bottom: 20px;
	}

	@media (max-width: 480px) {
		margin-bottom: 0;
		padding: 1rem;
		.project-list {
			grid-template-columns: 100%;
			.card {
				.logo-container {
					gap: 1.6rem;
				}
				.project-image {
					width: 100%;
				}
				p {
					font-size: 0.9rem;
				}
				.buttons-container {
					justify-content: center;
					gap: 1rem;
					.button span {
						display: none;
					}
				}
			}
		}
		.buttons-container .button span {
			display: none;
		}
	}
}
