#projects {
	min-height: 100dvh;
	padding: 2rem 6rem;
	.project-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
		gap: 6rem;
		.card {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: space-between;
			header h3 {
				text-indent: 10px;
			}
			.logo-container {
				margin-left: 20px;
				display: flex;
				gap: 1rem;
				svg {
					color: black;
					width: 25px;
				}
			}
			.project-image {
				width: 90%;
				aspect-ratio: 16/9;
				border-radius: 1rem;
				align-self: center;
				box-shadow: var(--text-shadow);
			}
			p {
				padding: 0 1rem;
			}
			.buttons-container {
				padding: 1rem 0;
				display: flex;
				justify-content: space-evenly;
				.button {
					display: flex;
					align-items: center;
					gap: 0.5rem;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	#projects {
		margin-bottom: 20px;
		padding-left: 3rem;
		padding-right: 3rem;
		.project-list {
			gap: 3rem;
		}
	}
}

@media (max-width: 480px) {
	#projects {
		margin-bottom: 0;
		padding: 1rem;
		.project-list {
			gap: 1rem;
			grid-template-columns: 100%;
			.card {
				.logo-container {
					margin-left: 0;
					justify-content: center;
					svg {
						width: 20px;
					}
				}
				.project-image {
					width: 100%;
				}
				p {
					font-size: 0.9rem;
					text-align: center;
				}
			}
		}
		.buttons-container .button span {
			display: none;
		}
	}
}
