:root {
	--orange-dark: #d97904;
	--orange-light: #ffa600;
	--background: #121212;
	--black: #1f1f1f;
	--grey-light: #b0b0b0;
	--grey-dark: #2b2b2b;
	--purple-dark: #4e2a84;
	--purple-light: #7458a5;
	--blue: #356a79;
	--red: #9b2d30;
	--text-shadow: 5px 5px 10px var(--black);
	--shadow-fluor: 0 0px 6px var(--grey-light);
	--shadow-button: 4px 4px 8px var(--black);
	--shadow-button-hover: 4px 4px 10px var(--black);
	--border-radius: 10px;
	--border-purple: 5px solid var(--purple-dark);
	--border-orange: 5px solid var(--orange-dark);
	--z-items-photo: 100;
	--z-header-home: 200;
	--z-nav: 300;
	--z-modal: 1000;
	--height-heading-transition: 60svh;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
}

body {
	background-color: var(--background);
	color: var(--grey-light);
	padding-left: 5rem;
}

a {
	color: var(--orange-dark);
	text-decoration: none;
	cursor: pointer;
}

h1,
h2,
h3 {
	font-family: Orbitron, sans-serif;
	color: var(--blue);
	text-shadow: var(--text-shadow);
}

.heading-transition {
	width: 100%;
	height: var(--height-heading-transition);
	text-align: right;
	align-content: flex-end;
	background: linear-gradient(
		var(--background) 0%,
		var(--grey-dark) 50%,
		var(--background) 100%
	);
	h1 {
		margin-bottom: 0.5em;
		margin-right: 1em;
		font-size: clamp(2rem, 10vw, 8rem);
		-webkit-text-stroke: 2px var(--black);
		animation: header-reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 100svh;
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	min-height: 40px;
	color: var(--black);
	background-color: var(--orange-dark);
	padding: 0.5rem 1rem;
	font-weight: bold;
	box-shadow: var(--shadow-button);
	border: none;
	border-radius: var(--border-radius);
	border: 3px solid var(--background);
	outline: none;
	transition: all 0.2s ease-in-out;
	svg {
		width: 15px;
		color: var(--black);
	}
	&:hover {
		cursor: pointer;
		background-color: #ffa600;
		transform: translateY(-3px);
	}
	&:active {
		background-color: var(--black);
		border-color: transparent;
		color: #ffa500;
		transition: none;
		svg {
			color: var(--orange-dark);
		}
	}
}

.logo {
	filter: drop-shadow(2px 2px 4px var(--grey-dark));
}

.link-icon {
	width: clamp(35px, 5vw, 45px);
	color: var(--orange-dark);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	&:hover {
		transform: scale(1.05) rotate(2deg);
		color: var(--orange-light);
	}
}

.card {
	background-color: var(--grey-dark);
	border-radius: var(--border-radius);
	border: var(--border-purple);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	&:hover {
		border-color: var(--purple-light);
		box-shadow: var(--shadow-fluor);
	}
}

.animated-card {
	animation: card-reveal both;
	animation-timeline: view();
	animation-range: entry 20% cover 50svh;
}

.heading-transition {
	margin-top: 50px;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transform: none !important;
	}

	.welcome-container {
		img {
			opacity: 1 !important;
		}
		header {
			transform: scale(1) translateY(0) !important;
		}
	}
	#skills .skills-container {
		.card {
			min-width: 0 !important;
			padding: 0 !important;
			padding-top: 1rem !important;
			.logos-list {
				height: 100% !important;
				min-width: 0 !important;
				mask-image: none !important;
				padding: 0 1rem !important;
				flex-wrap: nowrap !important;
				overflow: auto !important;
				.logo-tech {
					position: static !important;
					flex: 0 0 var(--width-item-carousel) !important;
				}
			}
		}
		.secondaries-skills .logos-list {
			display: flex !important;
			justify-content: center !important;
		}
	}
}

@media (max-width: 1080px) {
	:root {
		--height-heading-transition: 40svh;
	}
	body {
		padding-left: 0;
		padding-bottom: 90px;
	}
}

@media (max-width: 480px) {
	:root {
		--height-heading-transition: 30svh;
	}
	.button {
		padding: 0.4rem 1rem;
		font-size: 0.9rem;
	}
}

@keyframes header-reveal {
	0% {
		opacity: 0;
		transform: translateY(calc(-1 * (var(--height-heading-transition) / 3 * 2)))
			skew(20deg);
	}
	100% {
		opacity: 1;
		transform: translateY(0) skew(0);
	}
}

@keyframes card-reveal {
	0% {
		filter: saturate(0) brightness(0.1) blur(5px);
		opacity: 0;
		translate: 0 4rem;
		scale: 0.95;
	}
	100% {
		opacity: 1;
		translate: 0 0;
		scale: 1;
		filter: none;
	}
}