@font-face {
	font-display: swap;
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/exo-2-v26-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/exo-2-v26-latin-700.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Orbitron";
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/orbitron-v35-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Orbitron";
	font-style: normal;
	font-weight: 900;
	src: url("../assets/fonts/orbitron-v35-latin-900.woff2") format("woff2");
}

:root {
	--orange-dark: #d97904;
	--orange-light: #ffa600;
	--black-dark: #121212;
	--black-light: #1f1f1f;
	--grey-light: #b0b0b0;
	--grey-dark: #2b2b2b;
	--purple-dark: #4e2a84;
	--purple-light: #7458a5;
	--blue: #356a79;
	--red: #9b2d30;
	--green: #6ab06a;
	--shadow-text: 5px 5px 10px var(--black-light);
	--shadow-fluor: 0 0px 6px var(--grey-light);
	--shadow-box: 4px 4px 8px var(--black-light);
	--shadow-button: 2px 2px 5px var(--black-light);
	--border-radius-box: 10px;
	--border-purple: 5px solid var(--purple-dark);
	--border-orange: 5px solid var(--orange-dark);
	--stroke-text: 1.5px var(--black-dark);
	--z-items-photo: 100;
	--z-text-photo: 200;
	--z-header-home: 300;
	--z-nav: 400;
	--z-modal: 1000;
	--height-heading-transition: 60vh;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
}

body {
	background-color: var(--black-dark);
	color: var(--grey-light);
	padding-left: 5rem;
}

a {
	color: var(--orange-dark);
	text-decoration: none;
	cursor: pointer;
}

h1,
h2 {
	font-family: Orbitron, sans-serif;
	color: var(--blue);
	text-shadow: var(--shadow-text);
}

.advise {
	font-size: 0.8rem;
	font-weight: 700;
	padding: 0.2rem 0.5rem;
	position: absolute;
	display: none;
	color: var(--black-dark);
	border: 1px solid var(--black-dark);
	background-color: var(--purple-light);
	border-radius: 5px;
	opacity: 0;
	box-shadow: var(--shadow-button);
	transition: opacity 0.3s ease-in-out allow-discrete;
	&.visible {
		display: block;
		opacity: 1;
		@starting-style {
			opacity: 0;
		}
	}
}

.heading-transition {
	margin-top: 50px;
	width: 100%;
	height: var(--height-heading-transition);
	text-align: right;
	align-content: flex-end;
	background: linear-gradient(
		var(--black-dark) 0%,
		var(--grey-dark) 50%,
		var(--black-dark) 100%
	);
	h1 {
		margin-bottom: 0.5em;
		margin-right: 1em;
		font-size: clamp(2rem, 10vw, 8rem);
		-webkit-text-stroke: var(--stroke-text);
		animation: header-reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 100vh;
	}
}

.button {
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	color: var(--black-light);
	background-color: var(--orange-dark);
	padding: 0.5rem 1rem;
	box-shadow: var(--shadow-button);
	border: none;
	border-radius: var(--border-radius-box);
	border: 3px solid var(--black-dark);
	outline: none;
	transition: all 0.2s ease-in-out;
	svg {
		width: 15px;
		color: var(--black-light);
	}
	&:hover {
		cursor: pointer;
		background-color: #ffa600;
		transform: translateY(-3px);
		box-shadow: 2px 2px 10px var(--black-light);
	}
	&:active {
		background-color: var(--black-light);
		border-color: transparent;
		color: #ffa500;
		transition: none;
		svg {
			color: var(--orange-dark);
		}
	}
}

.logo {
	filter: drop-shadow(2px 2px 4px var(--grey-dark));
}

.link-icon {
	width: clamp(35px, 5vw, 45px);
	color: var(--orange-dark);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	&:hover {
		transform: scale(1.05) rotate(2deg);
		color: var(--orange-light);
	}
}

.card {
	background-color: var(--grey-dark);
	border-radius: var(--border-radius-box);
	border: var(--border-purple);
	transform-style: preserve-3d;
	perspective: 600px;
	transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	h2 {
		-webkit-text-stroke: 0.5px var(--black-dark);
	}
	&:hover {
		border-color: var(--purple-light);
		box-shadow: var(--shadow-fluor);
	}
}

.animated-card {
	animation: card-reveal both;
	animation-timeline: view();
	animation-range: entry 20% cover 50vh;
}

@media (width <= 1080px) {
	:root {
		--height-heading-transition: 40vh;
	}
	body {
		padding-left: 0;
		padding-bottom: 90px;
	}
	.card:hover {
		border-color: var(--purple-dark);
		box-shadow: none;
	}
	.button:hover {
		transform: none;
		box-shadow: var(--shadow-button);
		color: var(--orange-dark);
	}
	.link-icon:hover {
		transform: none;
		color: var(--orange-dark);
	}
	.heading-transition {
		margin-top: 0;
	}
}

@media (width < 768px) {
	:root {
		--height-heading-transition: 30vh;
	}
	body {
		padding-bottom: 70px;
	}
}

@media (prefers-reduced-motion: reduce) {
	.heading-transition h1 {
		animation: none;
	}
	.animated-card {
		animation: none;
	}
	.card:hover {
		border-color: var(--purple-dark);
		box-shadow: none;
	}
	.button:hover {
		transform: none;
		box-shadow: var(--shadow-button);
	}
	.advise {
		transition: none;
	}
	.link-icon:hover {
		transform: none;
	}
}

@keyframes header-reveal {
	0% {
		opacity: 0;
		transform: translateY(calc(-1 * (var(--height-heading-transition) / 3 * 2)))
			skew(20deg);
	}
	100% {
		opacity: 1;
		transform: translateY(0) skew(0);
	}
}

@keyframes card-reveal {
	0% {
		filter: saturate(0) brightness(0.1) blur(5px);
		opacity: 0;
		translate: 0 4rem;
		scale: 0.95;
	}
	100% {
		opacity: 1;
		translate: 0 0;
		scale: 1;
		filter: none;
	}
}
