@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transform: none !important;
	}

	.welcome-container {
		img {
			opacity: 1 !important;
		}
		header {
			transform: scale(1) translateY(0) !important;
		}
	}
	#skills .skills-container {
		.card {
			min-width: 0 !important;
			padding: 0 !important;
			padding-top: 1rem !important;
			.logos-list {
				height: 100% !important;
				min-width: 0 !important;
				mask-image: none !important;
				padding: 0 1rem !important;
				flex-wrap: nowrap !important;
				overflow: auto !important;
				.logo-tech {
					position: static !important;
					flex: 0 0 var(--width-item-carousel) !important;
				}
			}
		}
		.secondaries-skills .logos-list {
			display: flex !important;
			justify-content: center !important;
		}
	}
}

/* Pantallas grandes (mejoras leves) */
/* @media (max-width: 1200px) {
    #projects {
        padding: 2em 3em;
    }
    #projects .project-list {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        gap: 2.5em;
    }
    .home .welcome-container img {
        height: 80dvh;
    }
} */

/* Tablets y móviles */
@media (max-width: 900px) {
	:root {
		--height-heading-transition: 40dvh;
		--falling-item: 35dvh;
		--scale-heading: 1.4;
		--width-item-carousel: 60px;
	}

	body {
		padding-left: 0;
		padding-bottom: 70px;
	}

	nav {
		right: 0;
		top: auto;
		bottom: 0;
		min-height: auto;
		height: 70px;
		flex-direction: row;
		border-right: none;
		border-top: 2px solid var(--black);
		box-shadow: 0 -2px 20px var(--black);
		.nav-section {
			flex-direction: row;
		}
	}
	.home #projects {
		margin-bottom: 20px;
	}

	.home {
		padding: 1rem;
		header {
			bottom: 25%;
			h1 {
				font-size: 2.8rem;
			}
			h2 {
				font-size: 1.8rem;
			}
		}
		.welcome-container img {
			height: 65dvh;
		}
	}

	#about-me {
		font-size: 1.1rem;
		.bento {
			max-width: 100%;
			aspect-ratio: auto;
			grid-template-areas:
				"education education"
				"me map"
				"certifications certifications";
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 300px);
		}
		#story-modal {
			width: 70%;
			padding: 1rem;
		}
	}

	#contact {
		min-height: calc(100dvh - 70px);
		.contact-form {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			gap: 4rem;
			place-items: center;
			.card {
				max-width: none;
				width: 50%;
				padding: 1.25rem;
			}
		}
	}
}

/* Móviles pequeños */
@media (max-width: 480px) {
	:root {
		--height-heading-transition: 30dvh;
		--falling-item: 35dvh;
	}

	#projects,
	.home {
		margin-bottom: 0;
	}

	.home {
		flex-direction: column;
		gap: 1rem;
		header {
			order: 2;
			position: static;
			bottom: 30%;
			animation: reveal 0.6s ease-in-out both,
				translate-header 0.6s ease-in-out 0.5s both;
			h1,
			h2 {
				-webkit-text-stroke: 1px var(--black);
			}
			h1 {
				font-size: 1.4rem;
			}
			h2 {
				font-size: 0.9rem;
			}
		}
		.welcome-container img {
			animation: reveal 1s ease 0.5s forwards;
			height: 50vh;
			width: 100%;
		}
	}

	#about-me {
		font-size: 0.75rem;
		#story-modal {
			width: 90%;
		}
		.bento {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 200px);
			grid-template-areas:
				"education"
				"me"
				"map"
				"certifications";
			.text-bento ul {
				padding: 0 1rem;
			}
		}
	}

	#skills .skills-container {
		padding: 0 1rem;
		grid-template-rows: repeat(3, 150px);
	}

	#projects {
		padding: 0.5rem;
		.project-list {
			gap: 1rem;
			grid-template-columns: 100%;
			.card {
				.logo-container {
					margin-left: 0;
					justify-content: center;
					.logo-project {
						width: 20px;
					}
				}
				.project-image {
					width: 100%;
				}
				p {
					font-size: 0.9rem;
					text-align: center;
				}
			}
		}
		.buttons-container .button span {
			display: none;
		}
	}

	#contact {
		.contact-form {
			padding-top: 1rem;
			gap: 2rem;
			h2 {
				font-size: 1rem;
				padding-bottom: 0.5rem;
			}
			.contact-info {
				gap: 1rem;
				.link-icon {
					width: 25px;
				}
				.logo {
					width: 60px;
				}
			}
			.card {
				min-width: 90%;
				max-width: none;
				header h3 {
					font-size: 1.3rem;
				}
				input,
				textarea {
					font-size: 0.9rem;
				}
			}
		}
	}

	.button {
		padding: 0.4rem 1rem;
		font-size: 0.8rem;
	}
}
