#skills {
	--width-item-carousel: 100px;
	min-height: 100svh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.skills-container {
		width: 100%;
		max-width: clamp(400px, 90vw, 600px);
		aspect-ratio: 1/1;
		display: grid;
		gap: 1rem;
		.card {
			padding: clamp(0.5rem, 2vw, 1.5rem) 0;
			overflow: hidden;
			display: grid;
			gap: 0.5rem;
			animation-range: entry 10% cover 40svh;
			&:hover {
				.logos-list,
				.minus-list {
					.logo-tech {
						animation-play-state: paused;
					}
				}
			}
			header {
				margin: 0 1.5rem;
			}
			.logos-list {
				height: var(--width-item-carousel);
				mask-image: linear-gradient(
					to right,
					transparent,
					var(--black) 200px,
					var(--black)
						calc(
							(
									var(--width-item-carousel) * var(--quantity-items-carousel) -
										700px
								) - 200px
						),
					transparent
				);
				display: flex;
				min-width: calc(
					var(--width-item-carousel) * var(--quantity-items-carousel)
				);
				position: relative;
				.logo-tech {
					width: var(--width-item-carousel);
					height: var(--width-item-carousel);
					color: var(--grey-light);
					list-style: none;
					display: flex;
					flex-direction: column;
					place-items: center;
					place-content: center;
					position: absolute;
					left: 100%;
					animation: autorun-left 10s linear infinite;
					animation-delay: calc(
						(10s / var(--quantity-items-carousel)) * var(--position)
					);
					will-change: left;
					svg {
						width: clamp(30px, 2.5vw, 50px);
					}
					img {
						display: none;
					}
					&:hover {
						svg {
							display: none;
						}
						img {
							display: block;
						}
					}
				}
			}
		}
		.secondaries-skills {
			grid-row: 2/3;
			header h2 {
				text-align: right;
			}
			.logos-list {
				.logo-tech {
					left: 105%;
					animation: autorun-right 10s linear infinite;
					animation-delay: calc(
						(10s / var(--quantity-items-carousel)) * var(--position)
					);
				}
			}
		}
	}

	@media (min-width: 900) {
		.skills-container {
			gap: clamp(0.5rem, 2svh, 0.8rem);
			padding: clamp(0.5rem, 1.5vw, 1rem) 0;
		}

		.card {
			gap: clamp(0.3rem, 1svh, 0.4rem);
		}
	}

	@media (max-width: 480px) {
		min-height: 90svh;
		.skills-container {
			padding: 0 1rem;
			grid-template-rows: repeat(3, 150px);
		}
	}
}

@keyframes autorun-left {
	0% {
		left: 100%;
	}
	100% {
		left: calc(var(--width-item-carousel) * -1);
	}
}

@keyframes autorun-right {
	0% {
		left: calc(var(--width-item-carousel) * -1);
	}
	100% {
		left: 105%;
	}
}
