<div class="skills-container">
	<section class="animated-card card">
		<header>
			<h3>Principales</h3>
		</header>
		<ul class="logos-list" style="--quantity-items-carousel: 7">
			{{ lisMain }}
		</ul>
	</section>
	<section class="animated-card card">
		<header>
			<h3>Herramientas</h3>
		</header>
		<ul class="logos-list" style="--quantity-items-carousel: 9">
			{{ lisTools }}
		</ul>
	</section>
	<section class="animated-card card secondaries-skills">
		<header>
			<h3>Secundarias</h3>
		</header>
		<ul class="logos-list" style="--quantity-items-carousel: 4">
			{{ lisSecondary }}
		</ul>
	</section>
</div>
