<div class="skills-container">
	<section class="animated-card card">
		<header>
			<h3>Principales</h3>
		</header>
		<ul class="logos-list main-list" style="--quantity-items-carousel: 7"></ul>
	</section>
	<section class="animated-card card">
		<header>
			<h3>Herramientas</h3>
		</header>
		<ul class="logos-list tools-list" style="--quantity-items-carousel: 9"></ul>
	</section>
	<section class="animated-card card secondaries-skills">
		<header>
			<h3>Secundarias</h3>
		</header>
		<ul class="logos-list secondary-list" style="--quantity-items-carousel: 4"></ul>
	</section>
</div>
