#home {
	min-height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	.img-container {
		margin-top: 3rem;
		position: relative;
		filter: drop-shadow(0 0 20px var(--grey-dark));
		opacity: 0;
		transition: transform 0.3s ease-in-out;
		transform: translateY(40px);
		position: relative;
		.avatar {
			height: 80svh;
			width: auto;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border: var(--border-orange);
			border-radius: var(--border-radius);
			transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
		}
	}
	header {
		text-align: center;
		position: absolute;
		top: 60%;
		z-index: var(--z-header-home);
		opacity: 0;
		transform: translateY(40px);
		transition: opacity 1s ease, transform 1s ease;
		h1 {
			font-size: clamp(1.7rem, 5vw, 3rem);
			background: linear-gradient(
				90deg,
				var(--blue) 0%,
				#7cc6db 20%,
				var(--blue) 80%
			);
			background-size: 200% auto;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 2px var(--black);
		}
		h2 {
			margin-top: 0.5rem;
			margin-bottom: 0.8rem;
			font-style: oblique;
			font-size: clamp(1.1rem, 3vw, 2rem);
			color: var(--grey-light);
			transform: translateY(10px);
			-webkit-text-stroke: 1.5px var(--black);
			opacity: 0;
		}
		.button {
			display: inline-block;
			margin-top: 1.5rem;
			transition: all 0.3s ease;
		}
		&.active {
			opacity: 1;
			transform: translateY(0);
			h1 {
				animation: shine 3s ease-in-out infinite, fadeUp 1s ease forwards;
			}
			h2 {
				animation: fadeUp 1s ease forwards 0.7s;
			}
		}
	}

	&:has(header:hover),
	.img-container:hover {
		.avatar {
			border-color: var(--orange-light);
			box-shadow: var(--shadow-fluor);
		}
	}

	&.active .img-container {
		animation: fadeUp 1.5s ease forwards 1.4s,
			float 6s ease-in-out 1.4s infinite;
		transform: translateY(0);
	}

	@media (max-width: 1080px) {
		min-height: 90svh;
		header {
			top: 50%;
		}
		.img-container .avatar {
			height: 65svh;
		}
	}

	@media (max-width: 480px) {
		header {
			top: 55%;
			h1,
			h2 {
				font-weight: 900;
			}
			.button {
				margin-top: 1rem;
			}
		}
		.img-container {
			.avatar {
				height: 60svh;
				aspect-ratio: auto;
			}
		}
	}
}

@keyframes shine {
	0% {
		background-position: 0% center;
	}
	100% {
		background-position: 200% center;
	}
}

@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
}