#contact {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.advise {
		padding: 0.2rem 0.5rem;
		font-weight: 700;
		position: absolute;
		display: none;
		color: var(--black);
		background-color: var(--grey-light);
		border-radius: 5px;
		opacity: 0;
		box-shadow: var(--shadow-button);
		animation: fade-in 0.4s ease-in-out forwards;
		&.error {
			color: var(--red);
		}
	}

	.contact-form {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		.contact-info {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			align-items: center;
			justify-content: center;
			.logo {
				width: 100px;
				filter: opacity(0.8);
			}
			h1 {
				font-size: clamp(1.5rem, 3vw, 2.5rem);
				padding-bottom: 1rem;
				border-bottom: 5px solid var(--grey-dark);
			}
			.social-container {
				display: flex;
				gap: 4rem;
			}
			.link-icon {
				width: 35px;
			}
			.email-container {
				display: flex;
				align-items: center;
				gap: 1rem;
				position: relative;
				strong {
					font-size: clamp(0.9rem, 3vw, 1.3rem);
				}
				svg {
					width: 25px;
				}
				.copy-message {
					right: -75%;
					font-size: clamp(0.5rem, 1vw, 0.7rem);
				}
			}
		}
		.card {
			max-width: 550px;
			min-width: 450px;
			padding: 2rem;
			will-change: transform;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			.button {
				align-self: center;
			}
			input,
			textarea {
				outline: none;
				padding: 0.5rem;
				font-size: 1rem;
				border-radius: 5px;
				border: 2px solid transparent;
				box-shadow: var(--shadow-button);
				transition: border-color 0.3s ease-in-out;
				background-color: var(--grey-light);
				color: var(--black);
			}
			textarea {
				resize: none;
				min-height: 14rem;
			}
			input:focus,
			textarea:focus {
				border-color: var(--orange-dark);
			}
			input:-webkit-autofill,
			textarea:-webkit-autofill {
				-webkit-box-shadow: var(--grey-light);
				-webkit-text-fill-color: black;
				transition: background-color 5000s ease-in-out 0s; /* evita que vuelva al estilo por defecto */
			}

			input:-webkit-autofill:focus,
			textarea:-webkit-autofill:focus {
				-webkit-box-shadow: var(--grey-light);
				-webkit-text-fill-color: black;
			}
			.form-message {
				bottom: 5%;
				right: 5%;
				font-size: clamp(0.9rem, 1.5vw, 1.5rem);
			}
		}
	}

	@media (max-width: 1080px) {
		min-height: calc(100svh - 70px);
		margin-bottom: 50px;
		.contact-form {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			gap: 4rem;
			place-items: center;
			.card {
				max-width: none;
				width: 50%;
				padding: 1.25rem;
			}
		}
	}

	@media (max-width: 480px) {
		min-height: 100%;
		margin-bottom: 0;
		padding: 2rem 0;
		.contact-form {
			padding-top: 1rem;
			gap: 3rem;
			h2 {
				padding-bottom: 0.5rem;
			}
			.contact-info {
				gap: 1rem;
				.link-icon {
					width: 25px;
				}
				.logo {
					width: 60px;
				}
			}
			.card {
				min-width: 90%;
				max-width: none;
				header h2 {
					font-size: 1.3rem;
				}
				input,
				textarea {
					font-size: 0.9rem;
				}
				textarea {
					min-height: 10rem;
				}
			}
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
