<div class="contact-form">
	<section class="contact-info">
		{{ logo }}
		<h1>Gádor García Martínez</h1>
		<div class="social-container">
			{{ socialLinks }}
		</div>
		<div class="email-container" title="Copiar">
			<strong>Email</strong>
			{{ copyIcon }}
			<span>Copiado!</span>
		</div>
	</section>
	<form class="card animated-card">
		<header>
			<h2>Envíame un email</h2>
		</header>
		<input type="text" id="name" name="name" placeholder="Nombre" required />
		<input type="email" id="email" name="email" placeholder="Email" required />
		<textarea
			id="message"
			name="message"
			placeholder="Mensaje"
			required
		></textarea>
		<button class="button">Enviar</button>
	</form>
</div>
