<!-- TODO: renderModal - JavaScript -->
<dialog id="story-modal" class="card" closedby="any">
	<p>
		¡Hola! 🖖 Te doy la bienvenida a mi portfolio.<br />
		<br />
		Mi nombre es Gádor y soy una
		<b>apasionada de la tecnología</b> desde que tengo uso de razón. En un
		momento de búsqueda personal descubrí el desarrollo web y me enamoré.
		Siempre he estado en <b>contacto con el arte y la creatividad</b>, ya sea a
		través del diseño, el lettering, el dibujo o la música. Y siento que el
		desarrollo me permite combinarlo todo.<br />
		<br />
		A lo largo de mi trayectoria profesional
		<b
			>he trabajado en sectores como la logística, el transporte y la
			hostelería</b
		>, en este bagaje me encontré con diferentes situaciones que me hicieron
		<b>aprender y crecer</b>.<br />
		<br />
		Pero no todo es trabajo: en mi <b>tiempo libre</b> me encanta hacer
		<b
			>ejercicio, disfrutar de mi entorno, jugar a videojuegos y aprender cosas
			nuevas</b
		>. Se puede decir que soy una <b>persona activa y curiosa</b>.
		<br />
		<br />
		Estaría encantada de aportar mis conocimientos y experiencia a tu proyecto.
		<b
			>Si buscas a alguien tenaz, creativa y con atención al detalle, ¡no dudes
			en contactarme!</b
		>
	</p>
	<form method="dialog">
		<button class="button">Cerrar</button>
	</form>
</dialog>
<div class="bento">
	<section class="animated-card card item-bento text-bento education">
		<img src="/images/study.webp" alt="Imagen educación" />
		<div class="text-container">
			<header>
				<h3>Educación</h3>
			</header>
			<ul>
				<li>Full Stack Development - DevCamp by Bottega University - 2023</li>
				<li>Coding Foundations - DevCamp by Bottega University - 2022</li>
				<li>Bachillerato - IES Jorge Juan - 2006</li>
			</ul>
		</div>
	</section>
	<section class="animated-card card item-bento text-bento certifications">
		<img src="/images/certification.jpg" alt="Imagen certificado" />
		<div class="text-container">
			<header>
				<h3>Certificaciones</h3>
			</header>
			<ul>
				<li>Figma: Creación de interfaces - Domestika - 2025</li>
				<li>Curso Agile: SCRUM - Udemy - 2024</li>
				<li>GitHub Foundations - GitHub - 2024</li>
				<li>MongoDB Associate Developer - MongoDB - 2024</li>
				<li>English B1 - Hegala/Lanbide - 2022</li>
			</ul>
		</div>
	</section>
	<div class="animated-card card item-bento photo-bento">
		<div class="items-photo-me" style="--delay: 0s; --position: 58%">🖖​</div>
		<div id="inc-logo-little" style="--delay: 0.5s; --position: 80%"></div>
		<div class="items-photo-me" style="--delay: 0.8s; --position: 25%">🖖​</div>
		<div id="inc-logo-little" style="--delay: 1.4s; --position: 10%"></div>
		<img
			class="photo-me"
			src="images/photo_me.webp"
			alt="Gádor García Martínez"
		/>
	</div>
	<div class="card animated-card item-bento map">
		<img src="images/alicante_map.webp" alt="Mapa de Alicante" />
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
			<path
				d="M360-440h80v-110h80v110h80v-190l-120-80-120 80v190Zm120 254q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
			/>
		</svg>
		<p>Alicante (Alacant)</p>
	</div>
</div>
