footer {
	width: 100%;
	border-top: 3px solid var(--black-light);
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	.button {
		width: fit-content;
		font-size: 0.7rem;
		gap: 0.5rem;
	}
}
