/* MARK: ANIMACIONES */

@keyframes jump {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -40%);
	}
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
	}
	50% {
		transform: rotateY(8deg) rotateX(-8deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(0deg);
	}
}

@keyframes scale-to-small {
	0% {
		transform: scale(1.5) translateY(0);
	}
	100% {
		transform: scale(1) translateY(200px);
	}
}

@keyframes scale-to-big {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
		box-shadow: var(--shadow-box);
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* MARK: GENERAL */

:root {
	--orange-dark: #d97904;
	--orange-light: #ffa600;
	--background: #121212;
	--black: #1f1f1f;
	--grey-light: #b0b0b0;
	--grey-dark: #2b2b2b;
	--purple-dark: #4e2a84;
	--purple-light: #7458a5;
	--blue: #356a79;
	--red: #9b2d30;
	--shadow: 5px 5px 10px var(--black);
	--shadow-box: 0px 0px 20px var(--black);
	/* --button-hover: linear-gradient(
		140deg,
		var(--orange-dark) 0%,
		#c26c03 50%,
		#a05a04 100%
	); */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
}

body {
	background-color: var(--background);
	color: var(--grey-light);
	display: grid;
	grid-template-columns: repeat(2, auto 1fr);
}

a {
	fill: var(--orange-dark);
	text-decoration: none;
	cursor: pointer;
}

h1,
h2,
h3 {
	font-family: Orbitron, sans-serif;
	color: var(--blue);
}

.card {
	border-radius: 0 1em 0 1em;
	box-shadow: var(--shadow-box);
	/* background: linear-gradient(150deg, #592e99 0%, #48267a 49%, #331b57 100%); */
	position: relative;
	/* TODO: Falta linear gradient */
	background: var(--purple-dark);
	/* clip-path: polygon(7% 0, 100% 0, 100% 0, 100% 88%, 93% 100%, 0 100%, 0 100%, 0 12%); */
}

.button {
	color: var(--black);
	background-color: var(--orange-dark);
	padding: 0.5em 1.5em;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: var(--shadow);
	outline: 1px solid transparent;
	transition: all 0.3s ease-in;
	&:hover {
		background-color: #ffa600;
		outline: 1px solid var(--black);
	}
	&:active {
		background-color: var(--grey-dark);
		color: #ffa500;
		transition: none;
	}
}

#skills,
#projects,
#contact {
	padding: 2em 2em 2em 7em;
	min-height: 100dvh;
}

/* MARK: NAV */

nav {
	padding: 1em;
	height: 100vh;
	position: fixed;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	.nav-sections {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.logo {
		fill: url(#grad1);
		width: 45px;
	}
	.link-nav {
		width: 40px;
		transition: all 0.3s ease-in-out;
		/* filter: drop-shadow(5px 5px 10px var(--grey-light)); */
		&:hover {
			fill: orange-dark;
			transform: scale(1.1);
		}
	}
}

/* MARK: HOME */

.hero {
	min-height: 100dvh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.welcome-container {
		display: flex;
		justify-content: center;
		position: relative;
		header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			align-self: center;
			gap: 0.5em;
			transform: scale(1.5);
			position: absolute;
			z-index: 2;
			transition: animation 0.3s ease-in-out;
			animation: reveal 0.8s ease-in-out forwards,
				scale-to-small 0.8s ease 0.8s forwards;
			h1,
			h2 {
				text-shadow: var(--shadow);
				-webkit-text-stroke: 1.5px var(--black);
			}
			h1 {
				font-size: 3em;
			}
			h2 {
				color: var(--grey-light);
				font-style: oblique;
				margin-bottom: 0.8em;
			}
		}
		img {
			opacity: 0;
			height: 95dvh;
			width: auto;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border-radius: 0 1em 0 1em;
			border: 5px solid var(--orange-dark);
			transition: all 0.3s ease-in-out;
			animation: scale-to-big 1s ease 1s forwards;
		}
		&:hover img {
			border-color: var(--orange-light);
		}
	}
}

/* MARK: ABOUT */

#about {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.bento {
		width: 50dvw;
		height: 70dvh;
		display: grid;
		/* grid-auto-columns: minmax(100px, 1fr);
		grid-auto-rows: minmax(100px, auto); */
		gap: 1em;
		grid-template-areas:
			"education education me"
			"map certifications certifications";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, minmax(200px, auto));
		position: relative;
		dialog {
			display: none;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.item-bento {
			background-color: var(--grey-dark);
			border-radius: 0 1em 0 1em;
			border: 5px solid var(--purple-dark);
			will-change: transform, filter, display;
			perspective: 1000px;
			overflow: hidden;
			transition: all 0.3s ease-in-out, transform 0.5s ease-in-out;
			&:hover {
				border-color: var(--purple-light);
				box-shadow: var(--shadow-box);
				/* animation: rotate 1s ease-in-out both; */
				filter: brightness(110%);
				transform: scale(1.01);
			}
		}
		.text-bento {
			padding: 0;
			img {
				filter: grayscale(50) blur(1px);
			}
			ul {
				list-style-type: square;
				list-style-position: inside;
				li {
					font-size: 0.9em;
					margin-bottom: 0.5em;
				}
			}
			header h3,
			ul {
				opacity: 0;
				display: none;
			}
			&:hover {
				overflow: visible;
			}
			&:hover img {
				display: none;
			}
			&:hover ul,
			&:hover header h3 {
				animation: reveal 0.3s ease-in-out forwards;
				display: block;
				padding: 1em;
			}
		}
		.photo-bento {
			grid-area: me;
			border-color: var(--orange-dark);
			&:hover {
				cursor: pointer;
				border-color: var(--orange-light);
			}
			img {
				aspect-ratio: 1/1;
			}
		}
		.map {
			grid-area: map;
			position: relative;
			p {
				font-size: 0.8em;
				position: absolute;
				bottom: 5%;
				right: 5%;
				opacity: 0;
			}
			svg {
				position: absolute;
				fill: var(--red);
				width: 2em;
				top: 50%;
				left: 20%;
				opacity: 0;
			}
			&:hover svg {
				animation: jump 0.5s ease-in-out infinite alternate,
					reveal 0.3s ease-in-out forwards;
			}
			&:hover p {
				animation: reveal 0.3s ease-in-out forwards;
			}
		}
		.education {
			grid-area: education;
		}
		.certifications {
			grid-area: certifications;
		}
	}
}

/* MARK: SKILLS */

#skills {
	ul {
		padding: 5%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
		gap: 4em;
		li {
			list-style: none;
		}
	}
}

.logo-tool {
	fill: var(--grey-dark);
	width: 50%;
}

/* MARK: PROJECTS */

#projects {
	.project-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		gap: 4em;
	}
	.project-image {
		width: 100%;
		aspect-ratio: 16/9;
	}
}

.link-project {
	width: 25px;
}

.logo-project {
	fill: var(--grey-dark);
	width: 20px;
}

/* MARK: CONTACT */

.contact-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-info {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
}

.email-container {
	display: flex;
	gap: 0.5em;
	button {
		background: none;
		border: none;
		cursor: pointer;
		svg {
			fill: var(--orange-dark);
			width: 1.5em;
		}
	}
	span {
		display: none;
		color: var(--grey-dark);
		background-color: var(--grey-light);
		font-size: 0.7em;
		padding: 0.2em 0.5em;
		border-radius: 3%;
	}
}

.social-container {
	display: flex;
	gap: 0.8em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1em;
}
