/* MARK: ANIMACIONES */

@keyframes jump {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -40%);
	}
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
	}
	50% {
		box-shadow: 5px 5px 10px rgba(102, 97, 97, 0.5);
	}
	100% {
		transform: rotateY(8deg) rotateX(-8deg);
		box-shadow: 8px 8px 18px rgba(102, 97, 97, 0.5);
	}
}

@keyframes scale-to-small {
	0% {
		transform: scale(1.5) translateY(0);
	}
	100% {
		transform: scale(1) translateY(200px);
	}
}

@keyframes scale-to-big {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* MARK: GENERAL */

:root {
	--orange-dark: #d97904;
	--orange-light: #ffa600;
	--background: #121212;
	--black: #1f1f1f;
	--grey-light: #b0b0b0;
	--grey-dark: #2b2b2b;
	--purple-dark: #4e2a84;
	--purple-light: #7458a5;
	--blue: #356a79;
	--red: #9b2d30;
	--text-shadow: 5px 5px 10px var(--black);
	--shadow-fluor: 0 0px 6px var(--grey-light);
	--shadow-button: 4px 4px 8px var(--black);
	--shadow-button-hover: 4px 4px 10px var(--black);
	--border-radius: 0 1em 0 1em;
	--border-purple: 5px solid var(--purple-dark);
	--border-orange: 5px solid var(--orange-dark);
	/* --shadow-fluor: 0 4px 10px rgba(196, 196, 196, 0.15); */
	/* --button-hover: linear-gradient(
		140deg,
		var(--orange-dark) 0%,
		#c26c03 50%,
		#a05a04 100%
	); */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Exo 2", sans-serif;
}

body {
	font-size: clamp(0.8rem, 2vw, 1rem);
	background-color: var(--background);
	color: var(--grey-light);
	display: grid;
	grid-template-columns: repeat(2, auto 1fr);
}

a {
	fill: var(--orange-dark);
	text-decoration: none;
	cursor: pointer;
}

h1,
h2,
h3 {
	font-family: Orbitron, sans-serif;
	color: var(--blue);
}

.button {
	font-size: clamp(0.8rem, 2vw, 1rem);
	color: var(--black);
	background-color: var(--orange-dark);
	padding: 0.5em 1.5em;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: var(--shadow-button);
	outline: 1px solid transparent;
	transition: all 0.3s ease-in;
	will-change: transform;
	&:hover {
		background-color: #ffa600;
		box-shadow: var(--shadow-button-hover);
		transform: scale(1.01);
	}
	&:active {
		background-color: var(--grey-dark);
		color: #ffa500;
		transition: none;
	}
}

/* MARK: NAV */

nav {
	padding: 1em;
	height: 100vh;
	position: fixed;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	.nav-sections {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.logo {
		fill: url(#grad1);
		width: 45px;
		filter: drop-shadow(2px 2px 4px var(--grey-dark));
	}
	.link-nav {
		width: 40px;
		transition: all 0.3s ease-in-out;
		&:hover {
			fill: var(--orange-light);
			transform: scale(1.1);
			/* filter: drop-shadow(0 0px 2px var(--grey-light)); */
		}
	}
}

/* MARK: HOME */
/* TODO: Intentar que las animaciones arranquen con el viewport al 100% */
.hero {
	min-height: 100dvh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.welcome-container {
		display: flex;
		justify-content: center;
		position: relative;
		transition: animation 1s ease-in-out;
		header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			align-self: center;
			gap: 0.5em;
			transform: scale(1.5);
			position: absolute;
			z-index: 2;
			transition: animation 0.8s ease-in-out;
			animation: reveal 0.8s ease-in-out forwards,
				scale-to-small 0.8s ease-in-out 0.8s forwards;
			h1,
			h2 {
				text-shadow: var(--text-shadow);
				-webkit-text-stroke: 1.5px var(--black);
			}
			h1 {
				font-size: clamp(1.5rem, 4vw, 3rem);
			}
			h2 {
				font-size: clamp(1rem, 3vw, 2rem);
				color: var(--grey-light);
				font-style: oblique;
				margin-bottom: 0.8em;
			}
		}
		img {
			opacity: 0;
			height: 95dvh;
			width: auto;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border-radius: var(--border-radius);
			border: var(--border-orange);
			animation: scale-to-big 1s ease 1s forwards;
			transition: all 0.3s ease-in-out;
		}
		&:hover img {
			border-color: var(--orange-light);
			box-shadow: var(--shadow-fluor);
		}
	}
}

/* MARK: ABOUT */

#about {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.bento {
		width: 50dvw;
		height: 70dvh;
		display: grid;
		gap: 1em;
		grid-template-areas:
			"education education me"
			"map certifications certifications";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, minmax(200px, auto));
		position: relative;
		dialog {
			display: none;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.item-bento {
			background-color: var(--grey-dark);
			border-radius: var(--border-radius);
			border: var(--border-purple);
			will-change: transform, filter, display;
			perspective: 1000px;
			overflow: hidden;
			transition: all 0.3s ease-in-out, transform 0.5s ease-in-out;
			&:hover {
				border-color: var(--purple-light);
				box-shadow: var(--shadow-fluor);
				filter: brightness(110%);
				transform: scale(1.01);
			}
		}
		.text-bento {
			padding: 0;
			img {
				filter: grayscale(50) blur(1px);
			}
			ul {
				list-style-type: square;
				list-style-position: inside;
				li {
					font-size: 0.9em;
					margin-bottom: 0.5em;
				}
			}
			header h3,
			ul {
				opacity: 0;
				display: none;
			}
			&:hover {
				overflow: auto;
			}
			&:hover img {
				display: none;
			}
			&:hover ul,
			&:hover header h3 {
				animation: reveal 0.3s ease-in-out forwards;
				display: block;
				padding: 1em;
			}
		}
		.photo-bento {
			grid-area: me;
			border-color: var(--orange-dark);
			&:hover {
				cursor: pointer;
				border-color: var(--orange-light);
			}
			img {
				aspect-ratio: 1/1;
			}
		}
		.map {
			grid-area: map;
			position: relative;
			p {
				font-size: 0.8em;
				position: absolute;
				bottom: 5%;
				right: 5%;
				opacity: 0;
			}
			svg {
				position: absolute;
				fill: var(--red);
				width: 3em;
				top: 50%;
				left: 20%;
				opacity: 0;
			}
			&:hover svg {
				animation: jump 0.5s ease-in-out infinite alternate,
					reveal 0.3s ease-in-out forwards;
			}
			&:hover p {
				animation: reveal 0.3s ease-in-out forwards;
			}
		}
		.education {
			grid-area: education;
		}
		.certifications {
			grid-area: certifications;
		}
	}
}

/* MARK: SKILLS */

#skills {
	height: 100dvh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.grid-container {
		width: 50dvw;
		height: 65dvh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1em;
	}
	.title-container {
		display: flex;
		align-items: center;
		gap: 1em;
		.icon-tech {
			width: 40px;
			fill: var(--orange-dark);
			transition: all 0.3s ease-in-out;
			&:hover {
				fill: var(--orange-light);
				cursor: pointer;
			}
			&:hover + h3 {
				display: block;
				animation: reveal 0.3s ease-in-out forwards;
			}
		}
		h3 {
			display: none;
			font-size: clamp(0.5rem, 2vw, 1.2rem);
			color: var(--blue);
		}
	}
	li {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		place-items: center;
		svg {
			opacity: 1;
			margin-bottom: 3px;
		}
		img {
			display: none;
		}
		.show-tech {
			svg {
				display: none;
			}
			img {
				display: block;
				animation: reveal 0.3s ease-in-out forwards;
			}
		}
	}
	.card-tech {
		background-color: var(--grey-dark);
		border-radius: var(--border-radius);
		border: var(--border-purple);
		padding: 2em;
		display: flex;
		flex-direction: column;
		transition: all 0.3s ease-in-out;
		&:hover {
			border-color: var(--purple-light);
			box-shadow: var(--shadow-fluor);
			transform: scale(1.01);
		}
	}
	.plus {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.tools {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.minus {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		.minus-list {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			li svg {
				width: 40px;
			}
		}
	}
	.logos-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 40px);
		gap: 4em;
		justify-content: center;
		margin-top: 2em;
	}
	.logo-tech {
		fill: var(--grey-light);
	}
}
/* MARK: PROJECTS */

#projects {
	min-height: 100dvh;
	padding: 10em 5em 5em 7em;
	.project-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		gap: 4em;
	}
	.card-project {
		padding: 1em;
		border-radius: var(--border-radius);
		border: var(--border-purple);
		background: var(--grey-dark);
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: space-between;
		transition: all 0.3s ease-in-out;
		&:hover {
			border-color: var(--purple-light);
			box-shadow: var(--shadow-fluor);
			transform: scale(1.01);
		}
		header h3 {
			text-indent: 10px;
		}
		.logo-container {
			margin-left: 20px;
			display: flex;
			gap: 1em;
			.logo-project {
				fill: var(--background);
				width: 25px;
			}
		}
		.project-image {
			width: 90%;
			aspect-ratio: 16/9;
			border-radius: 1em;
			align-self: center;
			box-shadow: var(--text-shadow);
		}
		p {
			padding: 0 1em;
		}
		.buttons-container {
			padding: 1em 0;
			display: flex;
			justify-content: space-evenly;

			.button {
				font-size: clamp(0.6rem, 1vw, 0.8rem);
				padding: 0.5em 1.5em;
			}
		}
	}
}

/* .link-project {
	width: 25px;
} */

/* MARK: CONTACT */

.contact-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-info {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
}

.email-container {
	display: flex;
	gap: 0.5em;
	button {
		background: none;
		border: none;
		cursor: pointer;
		svg {
			fill: var(--orange-dark);
			width: 1.5em;
		}
	}
	span {
		display: none;
		color: var(--grey-dark);
		background-color: var(--grey-light);
		font-size: 0.7em;
		padding: 0.2em 0.5em;
		border-radius: 3%;
	}
}

.social-container {
	display: flex;
	gap: 0.8em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1em;
}
