nav {
	background: var(--background);
	border-right: 2px solid var(--black);
	box-shadow: 2px 0 20px var(--black);
	padding: clamp(0.75rem, 1vw, 1.5rem);
	min-height: 100svh;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: var(--z-nav);
	.logo {
		width: clamp(35px, 5vw, 45px);
	}
	.links-nav-section {
		display: flex;
		flex-direction: column;
		gap: clamp(1rem, 2svh, 2.5rem);
	}

	@media (max-width: 1080px) {
		right: 0;
		top: auto;
		bottom: 0;
		min-height: auto;
		height: 90px;
		flex-direction: row;
		border-right: none;
		border-top: 2px solid var(--black);
		box-shadow: 0 -1px 10px var(--black);
		.links-nav-section {
			flex-direction: row;
		}
	}
}
