nav {
	background: var(--background);
	border-right: 2px solid var(--black);
	box-shadow: 2px 0 20px var(--black);
	padding: 1em;
	min-height: 100dvh;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 4;
	perspective: 600px;
	transform-style: preserve-3d;
	.logo {
		width: clamp(30px, 4vw, 45px);
	}
	.links-nav-section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media (max-width: 900px) {
	nav {
		right: 0;
		top: auto;
		bottom: 0;
		min-height: auto;
		height: 70px;
		flex-direction: row;
		border-right: none;
		border-top: 2px solid var(--black);
		box-shadow: 0 -2px 20px var(--black);
		.links-nav-section {
			flex-direction: row;
		}
	}
}